@import 'constants';

body {
  background-color: $page-background;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {display: block;}

input, select, textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: 1em;
  margin: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

